#list-button {
    display: block;
    margin: auto;
}

#answer-pic {
    height: 300px;
}

#cors-button {
    text-align: center;
    margin-left: 20px;
}

#answer {
    text-align: center;
}