* {
    font-family: "Poppins", sans-serif;
}

h1,
h3 {
    color: white;
}

#list-button {
    display: block;
    margin: auto;
}

#cors-button {
    text-align: center;
    margin-left: 20px;
}

#sortFilterBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}